<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>



  <p class="footer-address">Head Office:<br>
    Property Finder<br>
    knowledge Park<br>
    Dubai  TVQ03</p>




  <div class="footer-contact">
    Please contact: <br>
    <i class="far fa-envelope"></i>   propertyfinder@wagon.com <br>
    <i class="fas fa-phone-volume"></i>   971 04 0000
  </div>

  <div class="footer-copyright">
    <p>Copy Right <i class="fas fa-heart"></i> of Property Finder</p>
  </div>

</div>
