.form_banner {
  background-image: asset-url("form-background.jpeg");
  background-size: cover;
  padding: 20px;
  min-height: calc(100vh - 60px - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}
